{% extends 'base.html.twig' %}

{% block title %}Hello AfficherUnePageController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1> {{ controller_name }}! </h1>

    <div class="milieu">
        <ul>
          <li><p>cliquer sur le nom d'une entreprise pour trier pour voir la liste de ses stages</p></li>
          <li><p>cliquer sur le nom d'une formation pour trier pour voir la liste de ses stages</p></li>
        
         </ul>
    </div> 
    <div class="bas">
        <h1>Voici les stages disponibles</h1>
        {% for stage in stages %}
        <ul>
             <li>
                <div class="stage">
                
                <div class="boutonTitre">
                <h2><a href="/entreprises/{{stage.getEntreprise().getId()}}"> {{stage.getEntreprise().getNom()}}
                </a></h2>
                </div>
                <div class="descriptifStage"><p>{{stage.getDescription()}}</p></div>
                {% for formation in stage.getFormations() %}
                        
                        <div class="boutonFormation">
                        <h2><a href="/formations/{{formation.getId()}}"> {{formation.getNomCourt()}}
                        </a></h2>
                        </div>
                        
                {%endfor%}
                <div class="boutonStage">
                <a href="/stages/{{stage.getId()}}"> {{stage.getTitre()}}
                </a>
                </div>

             </li>
        </ul>
        {%endfor%}
    </div>
</div>
{% endblock %}
